/* Globals */
/* :root { */
/* could do a dark theme */
/* --primary-background: #f2f2f2;
  --secondary-background: #425a7d;
  --btn-color: #e5fafc;
  --btn-background: #a0c0d6;
  --eraser-background: #df7356;
  --display-color: #2a3240;
  --display-background: #e5fafc; */
/* } */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: grey;
  color: black;
  font-family: Orbitron, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Screen selection */
.screen {
  display: none;
}
.active {
  display: flex;
  height: 100%;
  /* width: 400px; */
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Material icons */
.bottom-cell .material-icons {
  font-size: 24px;
  color: purple;
  background-color: yellow;
  border: 1px solid white;
  border-radius: 50%;
}

/* Cellphone */
.cellphone {
  background-color: violet;
  border: 20px solid black;
  border-bottom: 0;
  border-radius: 5%;
  width: 360px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-cell {
  background-color: black;
  width: 100%;
  height: 5%;
}

.bottom-cell {
  background-color: black;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-info {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 100%;
  height: 5%;
  background-color: grey;
}

.connection {
  display: flex;
  justify-content: center;
}

.phone-info .material-icons {
  font-size: 24px;
  color: red;
  background-color: green;
  border: 1px solid white;
  border-radius: 50%;
}

#battery .material-icons {
  color: aqua;
  background-color: white;
}

.top-dash {
  width: 100%;
  height: 20%;
  display: flex;
  padding: 40px 10px 20px 10px;
  /* tem opcao de fazer margin individual */
  justify-content: space-between;
  background-color: #944;
  margin-top: auto;
}

.top-dash #warning-lifeline,
#profile-pic {
  width: 50px;
  height: auto;
}

.top-dash img {
  width: 100%;
  height: 100%;
}

.dashboard {
  height: 100%;
  width: 100%;
}

.buttons-dash {
  width: 100%;
  display: flex;
  padding: 40px 10px 20px 10px;
  /* tem opcao de fazer margin individual */
  justify-content: space-evenly;
  background-color: #944;
  margin-top: auto;
}

/* Styling for Menu screen */
#menuScreen {
  background-color: #f2f2f2;
}

/* Styling for elements inside Menu screen */
#menuScreen h1 {
  color: #333;
  font-size: 24px;
}

/* Styling for Schedule screen */
#scheduleScreen {
  background-color: #f2f2f2;
}

/* Styling for elements inside Schedule screen */
.home-button {
  width: 20px;
  height: auto;
  background: none;
  border: none;
  padding: 0;
}

.home-button:hover img {
  content: url("./assets/images/bowl-empty-icon.png");
}

#scheduleScreen h1 {
  color: #333;
  font-size: 24px;
}

/* Styling for Feed screen */
#feedScreen {
  background-color: #f2f2f2;
  background-color: aqua;
}

/* Styling for elements inside Feed screen */
#feedScreen h1 {
  color: #944;
  font-size: 24px;
}

#feedScreen #bowl {
  width: 100px;
  height: auto;
}

#feedScreen #feed {
  width: 100px;
  height: auto;
}

#feedScreen img {
  width: 100%;
  height: 100%;
}

/* Styling for Call screen */
#callScreen {
  background-color: #f2f2f2;
}

/* Styling for elements inside Call screen */
#callScreen h1 {
  color: #995;
  font-size: 24px;
}
