/* Globals */
/* :root { */
/* could do a dark theme */
/* --primary-background: #f2f2f2;
  --secondary-background: #425a7d;
  --btn-color: #e5fafc;
  --btn-background: #a0c0d6;
  --eraser-background: #df7356;
  --display-color: #2a3240;
  --display-background: #e5fafc; */
/* } */

/*  */
/* Global */
/*  */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: burlywood;
  color: black;
  font-family: Orbitron, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*  */
/* Screen selection */
/*  */

.screen {
  display: none;
}
.active {
  display: flex;
  height: 100%;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
/* Buttons */
/*  */

button {
  background: none;
  border: none;
  border-radius: 20%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

/*  */
/* Bottom buttons */
/*  */

.buttons-dash {
  width: 100%;
  display: flex;
  padding: 10px 10px 20px 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #75e6da;
  margin-top: auto;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

.buttons-dash button {
  color: white;
}

.buttons-dash .left {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.buttons-dash .left button {
  margin-right: 20%;
}

.buttons-dash .right {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 10%;
}

.buttons-dash .right button {
  margin-left: 20%;
}

.buttons-dash button {
  height: 25px;
}

.buttons-dash button:hover {
  border: 1px solid white;
}

.buttons-dash button:active {
  background-color: #43a99f;
}

.buttons-dash .material-icons {
  font-size: 24px;
}

.buttons-dash #home-icon {
  font-size: 43px;
}

.buttons-dash #home-button {
  border-radius: 20%;
  background-color: #53b8ae;
  height: 42px;
}

.buttons-dash #home-button button:hover {
  border: 1px solid white;
}

.buttons-dash #home-button:active {
  background-color: #434343;
}

/*  */
/* Iphone button */
/*  */

.bottom-cell .material-icons {
  font-size: 30px;
  color: white;
  border: 1px solid white;
  padding: 2%;
  border-radius: 50%;
}

.bottom-cell {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

/*  */
/* Cellphone */
/*  */

.cellphone {
  border: 20px solid black;
  border-bottom: 0;
  border-radius: 5%;
  width: 360px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
/* Top of the cellphone */
/*  */

.top-cell {
  background-color: black;
  width: 100%;
  height: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

/*  */
/* Phone information */
/*  */

.phone-info {
  display: flex;
  color: white;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  background-color: rgb(187, 182, 182);
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

.connection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connection span {
  font-size: 12px;
}

.connection {
  margin-left: 1%;
}

#current-hours {
  margin-right: 9%;
}

#battery {
  margin-right: 1%;
}

.phone-info .material-icons {
  font-size: 16px;
  background: none;
  border-radius: 50%;
}

#battery .material-icons {
  background: none;
}

/*  */
/* Top of the app */
/*  */

.top-dash {
  width: 100%;
  height: 103px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #75e6da;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.top-dash #warning-lifeline,
#profile-pic {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-dash span {
  font-weight: 800;
}

.top-dash img {
  width: 40px;
  height: 40px;
}

.top-dash #warning-lifeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.top-dash #profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*  */
/* Core of the app */
/*  */

.dashboard {
  height: 325px;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
}

/*  */
/* Styling for Menu screen */
/*  */

#menuScreen {
  background-color: #75e6da;
}

.section-title {
  font-size: 20px;
  font-weight: 800;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 30px;
  background-color: #ffc61b;
  width: 260px;
  height: 32px;
  border-radius: 10px;
  border: 1px solid #ffc61b;
  padding-left: 5px;
}

#menuScreen .cards {
  background-color: #75e6da;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-card span {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.menu-card .material-icons {
  font-size: 32px;
}

#menuScreen button {
  height: 105px;
  width: 120px;
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#menuScreen button:hover {
  border: 1px solid #ffc61b;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

/*  */
/* Styling for Schedule screen */
/*  */

#scheduleScreen {
  background-color: #75e6da;
}

#scheduleScreen .section-title {
  margin-bottom: 15px;
}

#scheduleScreen #meal-card {
  width: 230px;
  height: 280px;
  background-color: white;
}

#scheduleScreen .schedule-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  padding-bottom: 50px;
}

#scheduleScreen button:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#scheduleScreen button:active {
  border-radius: 50%;
  background-color: black;
  color: white;
}

#scheduleScreen #meal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#meal-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#meal-card .material-icons {
  font-size: 32px;
}

#create-space {
  margin-top: 10px;
}

/*  */
/* Styling for Feed screen */
/*  */

#feedScreen {
  background-color: #75e6da;
}

#feedScreen .section-title {
  margin-bottom: 50px;
}

#feedScreen .feed-display {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feed-display .material-icons {
  font-size: 48px;
}

.feed-display .feed-info {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-left: 50px;
  padding: 5px;
  border-radius: 10px;
  width: 160px;
}

#feedScreen #bowl {
  width: 100px;
  height: 100px;
}

#feedScreen img {
  width: 100%;
  height: 100%;
}

#feedScreen button {
  border: 3px solid black;
  border-radius: 5px;
}

#feedScreen button:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

#feedScreen button:active {
  background-color: #434343;
  color: white;
}

/*  */
/* Styling for Call screen */
/*  */

#callScreen {
  background-color: #75e6da;
}

#callScreen .section-title {
  margin-bottom: 50px;
}

#callScreen #doc {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

#ambulance .material-icons {
  font-size: 96px;
  color: red;
}

#call-button {
  background-color: green;
  border-radius: 50%;
  font-size: 32px;
  color: white;
  padding: 5px;
}

#call-button:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

#call-button:active {
  color: black;
}

/*  */
/* Styling for Analysis screen */
/*  */

#analysisScreen {
  background-color: #75e6da;
}

#analysisScreen {
  background-color: #75e6da;
}

#analysisScreen .section-title {
  margin-bottom: 20px;
}

#analysisScreen #graph-card {
  width: 270px;
  height: 260px;
  background-color: white;
}

#graph-card img {
  width: 270px;
  height: 130px;
}

#analysisScreen .analysis-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 300px;
  padding-bottom: 50px; */
}

#analysisScreen #graph-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  padding-bottom: 50px;
}

#analysisScreen button:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#analysisScreen button:active {
  border-radius: 50%;
  background-color: black;
  color: white;
}
